node_modules
build
dist
*.log
*.tsbuildinfo
*.js
*.jsx
*.css
*.map
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.webp
public/favicon.txt
public/index.html
src/**/*.test.ts
src/**/*.test.tsx
src/**/*.stories.tsx
coverage
.vscode
.idea
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local